{% extends 'default.html' %}
{% load custom_filters %}
{% block title %} <h1>Новости</h1> {% endblock %}

{% block main %}
    <form method="GET">
    {{ filter.form }} 
    <input type="submit" value="Найти">
</form>
    <table style="margin: 2rem auto 0 auto;">
        <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Date</th>

        </tr>
        </thead>
        {% for item in filter.qs %}
            <tbody>

            <tr>
                <td>{{ item.title|truncatechars:15 }}</td>
                <td>{{ item.text|truncatechars:25 }}</td>
                <td>{{ item.date_time }}</td>

            </tr>
            </tbody>

        {% endfor %}
    </table>
   
{% endblock main %}