<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Announcement and responses</title>
</head>
<body>
<p>Пользователь:&nbsp;{{ user.username }}</p>
<p><a href="{% url 'preview' %}">Главная</a>&nbsp;&nbsp;<a href="{% url 'logout' %}">Выйти</a></p>

<form method="get">
    {{ filter.form.as_p }}
    <input type="submit" value="Сортировать">
</form>
{% for obj in filter.qs %}
    <p>{{ obj }}</p>
    {% for item in obj.response_set.all.filter %}
        <div style="margin-left: 50px">
            <ul>
                <li>{{ item.content }} - <i style="font-size: smaller"> {{ item.user }}</i></li>
                {% if not item.accepted %}
                    <li style="list-style-type: none; line-height: 2em;">
                        <button><a style="text-decoration: none;" href="{% url 'accept' item.pk %}">Принять</a></button>&nbsp;&nbsp;<button>
                        <a style="text-decoration: none;" href="{% url 'reject' item.pk %}">Отклонить</a></button></li>
                {% else %}
                    <button style="margin-top: 0.5em" disabled>Принято</button>
                {% endif %}
            </ul>
        </div>
    {% endfor %}
{% endfor %}

</body>
</html>